/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
    font-family: 'Titillium Web', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background-color: #191919!important;
    background:url("img/bg2.png"), url("img/bg3.png") repeat;
    font: 300 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #ddd;
    -webkit-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 3px 30px rgba(0, 0, 0, 0.3);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal
}


article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden] {
    display: none
}

a {
    background-color: transparent;
}

a:active, a:hover {
    outline: 0
}

a:active,a:focus {
           outline: none;
     }
::-moz-focus-inner {border:0;}

abbr[title] {
    border-bottom: 1px dotted
}

b, strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 1.4em;
    margin: 0.3em 0 !important
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button, select {
    text-transform: none
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled], html input[disabled] {
    cursor: default
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=search] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}


fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    padding: 0
}

.grid, .unit {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.grid {
    display: block;
    clear: both
}

.grid .unit {
    float: left;
    width: 100%;
    padding: 10px
}

.grid .unit:first-child {
    padding-left: 20px
}

.grid .unit:last-child {
    padding-right: 20px
}

.unit .unit:first-child {
    padding-left: 0
}

.unit .unit:last-child {
    padding-right: 0
}

.unit .grid:first-child > .unit {
    padding-top: 0
}

.unit .grid:last-child > .unit {
    padding-bottom: 0
}

.no-gutters .unit, .unit.no-gutters {
    padding: 0 !important
}

.wrap .grid, .grid.wrap {
    max-width: 978px;
    margin: 0 auto
}

.grid .whole, .grid .w-1-1 {
    width: 100%
}

.grid .half, .grid .w-1-2 {
    width: 50%
}

.grid .one-third, .grid .w-1-3 {
    width: 33.3332%
}

.grid .two-thirds, .grid .w-2-3 {
    width: 66.6665%
}

.grid .one-quarter, .grid .one-fourth, .grid .w-1-4 {
    width: 25%
}

.grid .three-quarters, .grid .three-fourths, .grid .w-3-4 {
    width: 75%
}

.grid .one-fifth, .grid .w-1-5 {
    width: 25%
}

.grid .two-fifths, .grid .w-2-5 {
    width: 40%
}

.grid .three-fifths, .grid .w-3-5 {
    width: 60%
}

.grid .four-fifths, .grid .w-4-5 {
    width: 75%
}

.grid .golden-small, .grid .w-g-s {
    width: 38.2716%
}

.grid .golden-large, .grid .w-g-l {
    width: 61.7283%
}

.grid {
    *zoom: 1
}

.grid:before, .grid:after {
    display: table;
    content: "";
    line-height: 0
}

.grid:after {
    clear: both
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.post-thumbnail img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 568px) {
    .grid:not(.no-stacking-on-mobiles) > .unit {
        width: 100% !important;
        padding-left: 20px;
        padding-right: 20px
    }

    .unit .grid .unit {
        padding-left: 0;
        padding-right: 0
    }

    .center-on-mobiles {
        text-align: center !important
    }

    .hide-on-mobiles {
        display: none !important
    }

    .logo {
        float: none!important
    }
}

@media screen and (min-width: 1180px) {
    .wider .grid, .grid.wider {
        max-width: 1180px;
        margin: 0 auto
    }
}

.highlight .hll {
    background-color: #ffc
}

.highlight .c {
    color: #87ceeb
}

.highlight .err {
    color: #fff
}

.highlight .g {
    color: #fff
}

.highlight .k {
    color: #f0e68c
}

.highlight .l {
    color: #fff
}

.highlight .n {
    color: #fff
}

.highlight .o {
    color: #fff
}

.highlight .x {
    color: #fff
}

.highlight .p {
    color: #fff
}

.highlight .cm {
    color: #87ceeb
}

.highlight .cp {
    color: #cd5c5c
}

.highlight .c1 {
    color: #87ceeb
}

.highlight .cs {
    color: #87ceeb
}

.highlight .gd {
    color: #0000c0;
    font-weight: bold;
    background-color: teal
}

.highlight .ge {
    color: #3690c0;
    text-decoration: underline
}

.highlight .gr {
    color: #c0c0c0;
    font-weight: bold;
    background-color: #369000
}

.highlight .gh {
    color: #cd5c5c
}

.highlight .gi {
    color: #fff;
    background-color: #0000c0
}

.highlight span.go {
    color: #add8e6;
    font-weight: bold;
    background-color: #4d4d4d
}

.highlight .gp {
    color: #fff
}

.highlight .gs {
    color: #fff
}

.highlight .gu {
    color: #cd5c5c
}

.highlight .gt {
    color: #c0c0c0;
    font-weight: bold;
    background-color: #369000
}

.highlight .kc {
    color: #f0e68c
}

.highlight .kd {
    color: #f0e68c
}

.highlight .kn {
    color: #f0e68c
}

.highlight .kp {
    color: #f0e68c
}

.highlight .kr {
    color: #f0e68c
}

.highlight .kt {
    color: #bdb76b
}

.highlight .ld {
    color: #fff
}

.highlight .m {
    color: #fff
}

.highlight .s {
    color: #fff
}

.highlight .na {
    color: #fff
}

.highlight .nb {
    color: #fff
}

.highlight .nc {
    color: #fff
}

.highlight .no {
    color: #ffa0a0
}

.highlight .nd {
    color: #fff
}

.highlight .ni {
    color: #ffdead
}

.highlight .ne {
    color: #fff
}

.highlight .nf {
    color: #fff
}

.highlight .nl {
    color: #fff
}

.highlight .nn {
    color: #fff
}

.highlight .nx {
    color: #fff
}

.highlight .py {
    color: #fff
}

.highlight .nt {
    color: #f0e68c
}

.highlight .nv {
    color: #98fb98
}

.highlight .ow {
    color: #fff
}

.highlight .w {
    color: #fff
}

.highlight .mf {
    color: #fff
}

.highlight .mh {
    color: #fff
}

.highlight .mi {
    color: #fff
}

.highlight .mo {
    color: #fff
}

.highlight .sb {
    color: #fff
}

.highlight .sc {
    color: #fff
}

.highlight .sd {
    color: #fff
}

.highlight .s2 {
    color: #fff
}

.highlight .se {
    color: #fff
}

.highlight .sh {
    color: #fff
}

.highlight .si {
    color: #fff
}

.highlight .sx {
    color: #fff
}

.highlight .sr {
    color: #fff
}

.highlight .s1 {
    color: #fff
}

.highlight .ss {
    color: #fff
}

.highlight .bp {
    color: #fff
}

.highlight .vc {
    color: #98fb98
}

.highlight .vg {
    color: #98fb98
}

.highlight .vi {
    color: #98fb98
}

.highlight .il {
    color: #fff
}

.highlight .bash .nv {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

/*!
 *  Font Awesome 4.2.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
    font-family: 'FontAwesome';
    src: url("fonts/fontawesome-webfont.eot?v=4.2.0");
    src: url("fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-link:before {
    content: "\f0c1"
}

.fa-pencil:before {
    content: "\f040"
}

.fa-trash-o:before {
    content: "\f014";
}

.fa-clock-o:before {
    content: "\f017";
}

.fa-user-md:before {
    content: "\f0f0";
}

.fa-folder-o:before {
    content: "\f114";
}

.fa-tag:before {
    content: "\f02b";
}

.fa-cloud:before {
    content: "\f0c2";
}

.fa-search:before{
    content: "\f002";
}

.fa-angle-double-left:before{
    content: "\f100";
}

.fa-angle-double-right:before{
    content: "\f101";
}

.fa-linux:before {
    content: "\f17c";
}

.fa-github:before {
    content: "\f09b";
}

.fa-stack-overflow:before {
    content: "\f16c";
}

.fa-dribbble:before {
    content: "\f17d";
}

.fa-apple:before {
    content: "\f179";
}

.fa-linkedin:before {
    content: "\f0e1";
}

.fa-firefox:before {
    content: "\f269";
}

.fa-twitter:before {
    content: "\f099";
}
/* kare */
.fa-facebook-square:before {
    content: "\f082";
}

.fa-google-plus-square:before {
    content: "\f0d4";
}

.fa-twitter-square:before {
    content: "\f081";
}

.fa-linkedin-square:before {
    content: "\f08c";
}

.fa-2x{font-size:2em}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}


.clear {
    display: block
}

.clear:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

header, section, footer {
    float: left;
    width: 100%;
    clear: both
}

header h1, header nav {
    display: inline-block
}

nav ul {
    padding: 0;
    margin: 0
}

nav li {
    display: inline-block
}

.main-nav {
    margin-top: 42px
}

.main-nav li {
    margin-right: 10px
}

.main-nav li a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight: 700;
    font-size: 13px;
    padding: 0.5em 1em;
    text-shadow: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    font-family: 'Titillium Web', sans-serif;
}

.main-nav li a:hover {
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #bbb!important;
}

.main-nav li.current a {
    background-color: #1de22e;
    color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
}

.mobile-nav ul {
    overflow: hidden;
    width: 100%;
    display: table
}

.mobile-nav a {
    float: left;
    width: 100%;
    background-color: #333;
    color: #1de22e;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.mobile-nav li {
    display: table-cell;
    width: 20%;
    padding: 8px 2px
}

.mobile-nav .current a {
    background-color: #1de22e;
    color: #222;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3)
}

.header-link {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;
    -webkit-transition: opacity 0.2s ease-in-out 0.1s;
    -moz-transition: opacity 0.2s ease-in-out 0.1s;
    -o-transition: opacity 0.2s ease-in-out 0.1s;
    transition: opacity 0.2s ease-in-out 0.1s
}

h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
    opacity: 1
}

@media (max-width: 768px) {
    .main-nav ul {
        text-align: right
    }
}

@media (max-width: 830px) {
    .main-nav .show-on-mobiles {
        display: inline
    }

    .main-nav .hide-on-mobiles {
        display: none
    }
}

footer {
    font-size: 16px;
    padding-bottom: 5px;
    color: #c0c0c0;
}

footer a {
    color: #fff
}

footer a:hover img {
    opacity: 1
}

footer .align-right p {
    display: inline-block
}

footer img {
    display: inline-block;
    position: relative;
    top: 8px;
    margin-left: 5px;
    opacity: .8;
    padding: 1px;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s
}

@media (max-width: 568px) {
    footer .one-third p {
        margin-bottom: 0
    }

    footer .two-thirds p {
        margin-top: -20px
    }
}

.intro .unit {
    padding: 10px 0 40px
}

.intro p {
    font-size: 1.75em;
    line-height: 1em;
    margin: 0
}

@media (min-width: 569px) {
    .intro p {
        font-size: 3.2em
    }
}

.quickstart {
    background-color: #3F1F1F;
    color: #fff;
    margin: 60px 0;
    -webkit-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.4)
}

.quickstart .content {
    padding: 0
}

.quickstart h3 {
    font-size: 24px;
    line-height: 24px;
    margin-top: 20px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8)
}

.quickstart .code {
    font-size: 12px;
    display: block;
    margin: 0 0 -30px
}

@media (min-width: 768px) {
    .quickstart .code {
        font-size: 18px;
        margin: -30px 0;
        float: right
    }

    .quickstart h3 {
        margin: 50px 0 0;
        text-align: center
    }
}

.quickstart .code {
    display: block;
    padding: 0;
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    line-height: 1.3em
}

.quickstart .code .title {
    display: block;
    text-align: center;
    margin: 0 20px;
    padding: 5px 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    font: 400 16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #444;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f7f7f7;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), color-stop(7%, #cfcfcf), to(#aaa));
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
    background-image: -moz-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
    background-image: -o-linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
    background-image: linear-gradient(top, #f7f7f7 0%, #cfcfcf 7%, #aaa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#aaaaaa', GradientType=0);
    border-bottom: 1px solid #111
}

.quickstart .code .shell {
    padding: 20px;
    text-shadow: none;
    margin: 0 20px;
    background-color: #171717;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3)
}

.quickstart .code .line {
    display: block;
    margin: 0;
    padding: 0
}

.quickstart .code .line span {
    display: inline-block
}

.quickstart .code .path {
    color: #87ceeb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.quickstart .code .prompt {
    color: #cd5c5c;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.quickstart .code .command {
    color: #f0e68c
}

.quickstart .code .output {
    color: #888
}

.comment-author-link {
    font-weight: bold;
    font-style: italic;
}

@media (min-width: 768px) {

}

article {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 10px;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;

}

@media (max-width: 480px) {
    article ul {
        padding-left: 20px
    }
}

@media (max-width: 568px) {
    article {
        margin: 10px 0
    }

    .isBot {
        margin-right: 0!important;
        margin-left: 0!important;
    }
    .biKahve {
        margin-left: 8%!important;
    }

 .navigation .nav-links a {
        display: inline-flex;
    }

    .comments-area {
        padding: 5px 10px!important;
    }

    .comment-body .reply a {
        margin-left:56%!important;
    }
  #comments label {
        left:20px!important;
    }
}

@media (min-width: 768px) {
    article {
        font-size: 18px
    }
}

aside {
    padding-bottom: 20px
}

aside h2 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 10px 30px;
    margin-left: -30px;
    display: inline-block;
    border-bottom: 1px solid #444;
}

aside ul {
    padding-left: 0
}

aside ul:first-child {
    margin-top: 0
}

aside li {
    list-style-type: none;
    font-size: 16px;
}

aside li a {
    font-size: 16px;
    position: relative
}

aside #recent-posts-2 li:first-child a:before {
    content: "";
    border: 10px solid transparent;
    border-left-color: #444;
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -30px
}

.docs article {
    /* min-height: 800px */
}

.docs .content {
    padding: 0
}

.section-nav {
    text-align: center;
    padding-top: 40px;
    position: relative;
    margin: 40px -20px 10px
}

.section-nav > div {
    width: 49.5%
}

.section-nav a, .section-nav span {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 12px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(255, 255, 255, 0.5);
    background-color: #767676
}

.section-nav a:hover {
    color: #fff;
    background-color: #888
}

.section-nav .next, .section-nav .prev {
    position: relative
}

.section-nav .next:after, .section-nav .prev:before {
    font-size: 36px;
    color: #222;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    position: absolute;
    top: -7px
}

.section-nav .next:after {
    content: '\203A';
    right: 10px
}

.section-nav .prev:before {
    content: '\2039';
    left: 10px
}

.section-nav .prev, .section-nav .prev:hover {
    padding-left: 30px
}

.section-nav .next, .section-nav .next:hover {
    padding-right: 30px
}

.section-nav .disabled {
    opacity: .5;
    cursor: default
}

.improve {
    padding-top: 25px;
    font-size: 16px;
    clear: both;
}

.improve a {
    color: #999
}

.improve > span {
    padding-right: 8px;
}

.docs-nav-mobile select {
    color: #000;
    width: 100%
}

article h2:first-child {
    margin-top: 0
}

.post-category, .post-meta {
    display: inline-block;
    vertical-align: middle;
    font-size: .8em
}

.post-category {
    display: inline-block;
    margin-left: -30px;
    padding: 6px 10px 8px;
    padding-left: 50px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    position: relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #9e2812;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
    background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2812', endColorstr='#6f0d0d', GradientType=0)
}

.post-category:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #6f0d0d #6f0d0d transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0
}

.post-content img {
    max-width: 100%
}

.label {
    float: left;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.tagcloud {
    padding: 20px 0;
}

.tagcloud a {
    margin: 0.3em 0.2em;
    background-color: rgba(0, 0, 0, 0.2);
    color: #999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    padding:0.4em 0.6em;
 display: inline-block;

}
.tagcloud a:hover {
    color: #fff;
    background-color: rgba(32, 153, 12, 0.20);
}

.aramaAlani {
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

.aramaAlani button.search-submit{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #04491c;
    border: none;

    height: 37px;
    width: 50px;
    color: #a6bac7;
    font-size: 10pt;

    -webkit-transition: all .55s ease;
    -moz-transition: all .55s ease;
    -ms-transition: all .55s ease;
    -o-transition: all .55s ease;
    transition: all .55s ease;

    outline: none;
    opacity: 1;
    margin-left: -49px;
}



.aramaAlani:hover button.search-submit:hover{

    background-color: rgba(32, 153, 12, 0.20);
    color: #ddd;
}

.search-form {
    margin: 10px 0;
}

.search-form input[type="search"]{
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border: 0 none;
    color: #CCC;
    padding-left: 8px;
    padding-right: 27px;
    font-size: 14px;
    height: 35px;
    transition: width 0.3s ease 0s;
    box-sizing: content-box;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.entry-header {
    padding: 20px 30px 1px;
}

.entry-content {
    padding: 10px 30px 20px;
}

h1.entry-title {
    color:#999!important;
}

h1.entry-title:hover {
    color: #b1b1b1 !important;
}

@media (max-width: 568px) {
    .post-category {
        padding-left: 30px
    }
}

@media (min-width: 768px) {
    .post-category {
        margin-left: -50px
    }
}

.avatar {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle
}

.post-meta {
    padding: 5px 0;
    color: #c0c0c0;
    font-weight: 700;
    text-shadow: 0 -1px 0 #000
}

.post-date, .post-author {
    margin-left: 10px
}

.news article + article {
    margin-top: -10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0 -1px 0 #2f2f2f;
    -moz-box-shadow: 0 -1px 0 #2f2f2f;
    box-shadow: 0 -1px 0 #2f2f2f
}

pre, code {
    white-space: pre;
    display: inline-block;
    margin: 0;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 0 0.5em
}

@media (min-width: 768px) {
    pre, code {
        font-size: 16px
    }
}

.highlight, p > pre, p > code, p > code, li > code, h5 > code, .note > code {
    background-color: rgba(0, 0, 0, 0.2);;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5)
}

.note code {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: 3px;
    margin-right: 3px;
    font-size: 0.8em
}

.highlight {
    margin: 1em 0;
    padding: 10px 0;
    width: 100%;
    overflow: auto
}

h1, h2, h3, h4, h5, h6 {
    margin: 0
}

a {
    color: #12A13B;
    text-decoration: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s
}

a:hover {
    color: #13e946;
}

strong {
    font-weight: 700
}

p {
    line-height: 1.5em
}

.left {
    float: left
}

.right {
    float: right
}

.align-right {
    text-align: right
}

.align-left {
    text-align: left
}

.align-center {
    text-align: center
}

article h2, article h3, article h4, article h5, article h6 {
    margin: 0.3em 0
}

article h4 {
    color: #fff
}

article ul li p {
    margin: 0
}

article ul li blockquote {
    margin: 10px 0
}

article ul li, article ol li {
    line-height: 1.5em;
    margin-bottom: 0.5em
}

h5, h6 {
    font-size: 1em;
    font-style: italic
}

blockquote {
    border-left: 2px solid #777;
    padding-left: 20px;
    font-style: italic;
    font-size: 18px;
    font-weight: 500
}

table {
    width: 100%;
    background-color: #555;
    margin: .5em 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3)
}

thead {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    background-color: #3a3a3a;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#3a3a3a), to(#1e1e1e));
    background-image: -webkit-linear-gradient(top, #3a3a3a 0%, #1e1e1e 100%);
    background-image: -moz-linear-gradient(top, #3a3a3a 0%, #1e1e1e 100%);
    background-image: -o-linear-gradient(top, #3a3a3a 0%, #1e1e1e 100%);
    background-image: linear-gradient(to bottom, #3a3a3a 0%, #1e1e1e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3a3a', endColorstr='#1e1e1e', GradientType=0)
}

thead th {
    position: relative;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1)
}

thead th:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px
}

thead th:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px
}

td {
    padding: .5em .75em
}

td p {
    margin: 0
}

th {
    text-transform: uppercase;
    font-size: 16px;
    padding: .5em .75em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9);
    color: #888
}

tbody td {
    border-top: 1px solid #747474;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1affffff', endColorstr='#00ffffff', GradientType=0)
}

tbody td p {
    font-size: 16px
}

tbody td p code {
    font-size: 14px
}

code.option, th .option, code.filter, th .filter {
    color: #50B600
}

code.flag, th .flag, code.output, th .output {
    color: #049DCE
}

code.option, code.flag, code.filter, code.output {
    margin-bottom: 2px
}

.note {
    margin: 30px 0;
    margin-left: -30px;
    padding: 20px 20px 24px;
    padding-left: 50px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    position: relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-color: #0A2329;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0A2329), to(#255363 ));
    background-image: -webkit-linear-gradient(top, #0A2329 0%, #255363  100%);
    background-image: -moz-linear-gradient(top, #0A2329 0%, #255363  100%);
    background-image: -o-linear-gradient(top, #0A2329 0%, #255363  100%);
    background-image: linear-gradient(to bottom, #0A2329 0%, #255363  100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0A2329', endColorstr='#255363 ', GradientType=0)
}

@media (max-width: 568px) {
    .note {
        margin-right: -30px
    }
}

@media (min-width: 768px) {
    .note {
        margin-left: -40px
    }
}

.note:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #222 #222 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0
}

.note h5, .note p {
    margin: 0;
    color: #fff
}

.note h5 {
    line-height: 1.5em;
    font-weight: 700;
    font-style: normal
}

.note p {
    font-weight: 400;
    font-size: .75em
}

.note:after {
    content: '\2605';
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)
}

.info {
    background-color: #0389aa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0389aa), to(#00617f));
    background-image: -webkit-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: -moz-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: -o-linear-gradient(top, #0389aa 0%, #00617f 100%);
    background-image: linear-gradient(to bottom, #0389aa 0%, #00617f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0389aa', endColorstr='#00617f', GradientType=0)
}

.warning {
    background-color: #9e2812;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#9e2812), to(#6f0d0d));
    background-image: -webkit-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -moz-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: -o-linear-gradient(top, #9e2812 0%, #6f0d0d 100%);
    background-image: linear-gradient(to bottom, #9e2812 0%, #6f0d0d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e2812', endColorstr='#6f0d0d', GradientType=0)
}

.unreleased {
    background-color: #cd9239;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cd9239), to(#a27528));
    background-image: -webkit-linear-gradient(top, #cd9239 0%, #a27528 100%);
    background-image: -moz-linear-gradient(top, #cd9239 0%, #a27528 100%);
    background-image: -o-linear-gradient(top, #cd9239 0%, #a27528 100%);
    background-image: linear-gradient(to bottom, #cd9239 0%, #a27528 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd9239', endColorstr='#a27528', GradientType=0)
}

.info:before {
    border-color: transparent #00617f #00617f transparent
}

.warning:before {
    border-color: transparent #6f0d0d #6f0d0d transparent
}

.unreleased:before {
    border-color: transparent #664719 #664719 transparent
}

.info:after {
    content: '\24D8';
    color: #fff;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)
}

.warning:after {
    content: '\203C';
    color: #1de22e;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5)
}

.unreleased:after {
    content: '\2692';
    color: #2b2a12;
    position: absolute;
    top: 8px;
    left: 15px;
    font-size: 38px;
    font-weight: 700;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25)
}

@media (max-width: 768px) {
    .mobile-side-scroller {
        overflow-x: scroll;
        margin: 0 -40px;
        padding: 0 10px
    }
}

.show-on-mobiles {
    display: none
}

@media screen and (max-width: 568px) {
    .show-on-mobiles {
        display: block !important
    }

    a .show-on-mobiles {
        display: inline !important
    }
}


/* Yorum kısmı */

.comments-area {
    width: 97%;
    background: rgba(0, 0, 15, 0.3);
    padding: 40px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    position: relative;
}

#comments h2.comments-title {

    color: #888 !important;

}

#comments h3 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}


#comments label {
    position: absolute;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    left: 50px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 22px;
    padding-top: 5px;
}
#comments label .required {
    margin: 2px;
    color: #1ab188;
}

#comments label.active {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    left: 50px;
    font-size: 16px;
}
#comments label.active .required {
    opacity: 0;
}
.comment-form-comment label.active{
    display: none;
}

#comments label.cbhl {
    color: #ffffff;
}

#comments input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
#comments input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

#comments textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

#comments #commentform p {
    margin-bottom: 40px;
}

#comments #author {
    float: left;
    width: 48%;
    clear: both;
}

#comments .comment-form-author:after {
    content: "";
    display: table;
    clear: both;
}

#comments .comment-form-author > div:last-child {
    margin: 0;
}

#comments .submit {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
#comments .submit:hover, .submit:focus {
    background: #179b77;
}

#comments #submit {
    display: block;
    width: 100%;
}

#comments .comment-form-url {
    display: none!important;
}

.comment-meta {
    padding: 10px;
    background: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    border-bottom: 1px dashed #333;

}

.comment-meta time {
    color: #555 !important;
    float: right;
}

.comment-body {
    padding: 15px;
}

.comment-body .reply a {
   margin-left:85%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3) inset, 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(32, 153, 12, 0.20);
    padding: 3px 8px;
}

.comment-body .reply a:hover {
    background-color: rgba(32, 153, 12, 0.40);
}

.page-header h1 {
    padding: 15px 40px;
}

.navigation .nav-links .nav-previous {
    padding-bottom: 25px;
}

.navigation .nav-links .post-title {
    font-weight: bold;
}

.navigation .nav-links {
    padding:20px;
}
.navigation .nav-links a {
    margin: 2px;
    padding: 0.4em 0.8em;
    background-color: rgba(32, 153, 12, 0.20);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    text-decoration: none; /* no underline */
    color: #888;

}

.navigation .nav-links a:hover, .navigation .nav-links a:active {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(32, 153, 12, 0.30);
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: #999;
}

.pagination span.current {
    padding: 0.4em 0.8em;
    margin: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #ddd;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.pagination span.disabled {
    display:none;
}

.navigation h2.screen-reader-text {
    display: none;
}

.more-link {
    float: right;
    margin-top: 30px;
    font-size: 30px !important;
}

.footer .kapsa {
    background-color: #212121;;
}
.bgFoter {
    background: rgba(0, 0, 0, 0) url(img/agac.png) repeat-x scroll center bottom;
    content: "";
    height: 307px;
    opacity: 0.4;
    width: 100%;
    z-index: -1;
}

.sosyal {
    margin-top:20px ;
}
.sosyal i {
    font-size: 18px;
    padding-left: 5px;
}

.oiSosyal {
    float: right;
    margin-top: 32px;

}

.oiSosyal a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.hataSayfa img {
    opacity: 0.5;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.hataSayfa img:hover {
    box-shadow: 0 4px 10px 4px rgba(102, 185, 255, 0.30);
}

.icerikFooter {

}

.istatistik {
  width: 100%;
  background-color: #181818;
  padding: 15px;
}

.isBot {
    background: url(img/bgbot.png) no-repeat;
    height: 88px;
    margin-top: -13px;
    margin-left: 10px;
    margin-right: 10px;
}

.logo {
    padding-top: 34px;
    float: left;
}

.logo img {
    width: 175px;
}

.biKahve {
    background: url(img/kahve_ismarla.jpg) no-repeat;
    width: 250px;
    height: 113px;
    margin-left: 30%;
    margin-top: 35px;

}