*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.comments-area {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  position: relative;
}

#comments h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

#comments label {
  position: absolute;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  left: 50px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
#comments label .required {
  margin: 2px;
  color: #1ab188;
}

#comments label.active {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  left: 50px;
  font-size: 16px;
}
#comments label.active .required {
  opacity: 0;
}
.comment-form-comment label.active{
  display: none;
}

#comments label.highlight {
  color: #ffffff;
}

#comments input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}
#comments input:focus, textarea:focus {
  outline: 0;
  border-color: #1ab188;
}

#comments textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

#comments #commentform p {
  margin-bottom: 40px;
}

#comments #author {
    float: left;
    width: 48%;
    clear: both;
}

#comments .comment-form-author:after {
  content: "";
  display: table;
  clear: both;
}

#comments .comment-form-author > div:last-child {
  margin: 0;
}

#comments .submit {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #179b77;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;
}
#comments .submit:hover, .submit:focus {
  background: #178f6d;
}

#comments #submit {
  display: block;
  width: 100%;
}

#comments .comment-form-url {
    display: none!important;
}